*{
    padding: 0;
    margin: 0;
   
}
 .myButton{
    color: white;
    background-color: blue;
    width: 20vw;
    height: 10vh;
    font-size: 20px;
    border: none;
    border-radius:20px;
 }









